<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MARC.EHRS.VisualizationServer.Actions.Persistence.Properties.Settings.mcc_db2ConnectionString"
            connectionString="Data Source=.;Initial Catalog=mcc_db2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MARC.EHRS.VisualizationServer.Actions.Persistence.Properties.Settings.VisualizerDbConnectionString"
            connectionString="Data Source=.;Initial Catalog=VisualizerDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>