<div id="view" class="container-fluid">
    <div class="row">
        <p>The charts below represent data from the following query:</p>
        <input data-filter-summarize="#querySummary" data-filter-by="StatusCode" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="IsAlert" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="CreationTime" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="EventCode" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="ActionCode" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="OutcomeCode" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="EventType" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="Participant::RoleCodeDisplay" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="Participant::NetworkAccessPoint" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="Participant::RawUserId" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="Object::ExternalIdentifier" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="Object::IdTypeCodeDisplayName" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="Object::RoleCode" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="Object::TypeCode" type="hidden" />
        <input data-filter-summarize="#querySummary" data-filter-by="Object::LifecycleCode" type="hidden" />
        <div class="well" id="querySummary"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Event Types (Top 10)</h3>
                </div>
                <div class="panel-body">
                    <canvas data-chart-legend="#eventTypeLegend" data-chart-property="byType" data-chart-type="doughnut" width="300" height="300"/>
                    <ul id="eventTypeLegend" class="chart-legend">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Day of Week</h3>
                </div>
                <div class="panel-body">
                    <canvas data-chart-legend="#eventTimeLegend" data-chart-property="byDay" data-chart-type="radar" width="300" height="300"/>
                    <ul id="eventTimeLegend" class="chart-legend">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">History (Week of year)</h3>
                </div>
                <div class="panel-body">
                    <canvas data-chart-legend="#eventWeekLegend" data-chart-property="byWeek" data-chart-type="bar" width="700" height="300" style="float:left"/>
                    <ul id="eventWeekLegend" class="chart-legend"  style="float:left">
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Classification</h3>
                </div>
                <div class="panel-body">
                    <canvas data-chart-legend="#eventClassLegend" data-chart-property="byClass" data-chart-type="doughnut" width="300" height="300"/>
                    <ul id="eventClassLegend" class="chart-legend">
                    </ul>
                </div>
            </div>
        </div>
        @*<div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                </div>
                <div class="panel-body">
                    <canvas data-chart-legend="#eventUserLegend" data-chart-property="byUser" data-chart-type="doughnut" width="300" height="300"/>
                    <ul id="eventUserLegend" class="chart-legend">
                    </ul>
                </div>
            </div>
        </div>*@
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Alerts (Week of year)</h3>
                </div>
                <div class="panel-body">
                    <canvas data-chart-legend="#eventAlertsLegend" data-chart-property="byAlertWeek" data-chart-type="bar" width="700" height="300" style="float:left"/>
                    <ul id="eventAlertsLegend" class="chart-legend"  style="float:left">
                    </ul>
                </div>
            </div>

        </div>
    </div>
        <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Action</h3>
                </div>
                <div class="panel-body">
                    <canvas data-chart-legend="#eventActionLegend" data-chart-property="byAction" data-chart-type="doughnut" width="300" height="300"/>
                    <ul id="eventActionLegend" class="chart-legend">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Outcome</h3>
                </div>
                <div class="panel-body">
                    <canvas data-chart-legend="#eventOutcomeLegend" data-chart-property="byOutcome" data-chart-type="doughnut" width="300" height="300"/>
                    <ul id="eventOutcomeLegend" class="chart-legend">
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>