@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-lock"></span> MEDIC AVIC</h1>
    <p class="lead">The MEDIC Audit Visualization Inspection Console (AVIC) lets you view ATNA Audit Messages processed by the MEDIC Visualizer</p>
    <p><a href="/visualizer" class="btn btn-primary btn-lg">View Visualizer</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Audits</h2>
        <p>
            View the audits which have been processed by the MEDIC Visualizer Service Core.
        </p>
        <p><a class="btn btn-default" href="/Audit">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search</h2>
        <p>You can also perform complex queries on the MEDIC Visualizer persistence store</p>
        <p><a class="btn btn-default" href="/Audit?action=Search">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Statistics</h2>
        <p>You can easily view statistical information about the Visualization events processed.</p>
        <p><a class="btn btn-default" href="/Audit?action=Stats">Go &raquo;</a></p>
    </div>
</div>