@{
    ViewBag.Title = "Forbidden";
    ViewBag.ErrorTitle = "Forbidden";
    Layout = "~/Views/Error/_ErrorLayout.cshtml";
}

@section ErrorDetail
{
    <p>You are forbidden from accessing this resource</p>
    <p><span class="label label-warning">Warning:</span> The system administrator has been alerted</p>
}
