@{
    ViewBag.Title = "NotFound";
    ViewBag.ErrorTitle = "Page Not Found";
    Layout = "~/Views/Error/_ErrorLayout.cshtml";
}

@section ErrorDetail
{
    <p>The resoure you requested could not be found</p>
}