@{
    ViewBag.Title = "Service Unavailable";
    Layout = "~/Views/Error/_ErrorLayout.cshtml";
}

@section ErrorDetail
{
    <p>It looks like the service you're attempting to access is currently busy. Wait a few moments and try again</p>
}