<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=1.0.0.0"/>
    <section name="marc.ehrs.visualizationserver.syslog" type="MARC.EHRS.VisualizationServer.Syslog.Configuration.ConfigurationHandler, MARC.EHRS.VisualizationServer.Syslog, Version=1.0.0.0"/>
    <section name="marc.ehrs.visualizationserver.notifier" type="MARC.EHRS.VisualizationServer.Notifier.Configuration.ConfigurationHandler, MARC.EHRS.VisualizationServer.Notifier, Version=1.0.0.0"/>
    <section name="marc.hi.ehrs.svc.messaging.multi" type="MARC.HI.EHRS.SVC.Messaging.Multi.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Messaging.Multi, Version=1.0.0.0"/>
    <section name="marc.ehrs.visualizationserver.action.file" type="MARC.EHRS.VisualizationServer.Actions.Configuration.LogActionConfigurationSectionHandler, MARC.EHRS.VisualizationServer.Actions, Version=1.0.0.0"/>
    <section name="marc.ehrs.visualizationserver.knowledgebase" type="MARC.EHRS.VisualizationServer.KnowledgeBase.Configuration.ConfigurationHandler, MARC.EHRS.VisualizationServer.KnowledgeBase, Version=1.0.0.0"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="KBDB" connectionString="server=db.shr.marc-hi.ca; database=kbdb; user id=kb; password=kb; pooling=true; " providerName="Npgsql" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.91, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
    </DbProviderFactories>
  </system.data>
  <system.diagnostics>
    <!--<sources>
      <source name="System.ServiceModel"   switchValue="Information, ActivityTracing"    propagateActivity="true">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>-->
    <sharedListeners>
      <add name="fileLog"  type="MARC.HI.EHRS.SVC.Core.Logging.RollOverTextWriterTraceListener, MARC.HI.EHRS.SVC.Core" initializeData="vis.log"/>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
      <!--<add name="xmlLog" type="System.Diagnostics.XmlWriterTraceListener" initializeData="shr.log.svclog" >        
      </add>-->
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="console"/>
        <add name="fileLog"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <services>
      <service name="MARC.EHRS.VisualizationServer.KnowledgeBase.KnowledgeBaseServiceBehavior">
        <endpoint address="http://localhost:8080/kbs/" contract="MARC.EHRS.VisualizationServer.KnowledgeBase.IKnowledgeBaseServiceContract" binding="webHttpBinding" bindingConfiguration="kb_binding" />
      </service>
      <service name="MARC.EHRS.VisualizationServer.KnowledgeBase.HttpClientAccessPolicyBehavior">
        <endpoint address="http://localhost:8080/" contract="MARC.EHRS.VisualizationServer.KnowledgeBase.IHttpClientAccessPolicyContract" binding="webHttpBinding" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="kb_binding" maxReceivedMessageSize="128000" />
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <!-- Service Core Configuration -->
  <marc.hi.ehrs.svc.core>
    <system>
      <device id="1.3.6.1.4.1.33349.3.1.1.20.4" name="MARC-W1-4"/>
    </system>
    <!-- Custodial information for records -->
    <custodianship>
      <name>MARC-HI Audit Gateway</name>
      <id domain="1.3.6.1.4.1.33349.3.1.2.2.3" value="ACS"/>
    </custodianship>
    <!-- Realm that the persistence engine is running within -->
    <jurisdiction>
      <name>MARC-HI</name>
      <id domain="1.3.6.1.4.1.33349.3.1" value="HI"/>
    </jurisdiction>
    <registeredOids>
    </registeredOids>
    <serviceAssemblies>
      <add assembly="MARC.EHRS.Visualization.Core.dll"/>
      <add assembly="MARC.EHRS.VisualizationServer.Notifier.dll"/>
      <add assembly="MARC.EHRS.VisualizationServer.Syslog.dll"/>
    </serviceAssemblies>
    <serviceProviders>
      <add type="MARC.EHRS.VisualizationServer.Notifier.TcpNotificationService, MARC.EHRS.VisualizationServer.Notifier, Version=1.0.0.0"/>
      <add type="MARC.HI.EHRS.SVC.Messaging.Multi.MultiMessageHandler, MARC.HI.EHRS.SVC.Messaging.Multi, Version=1.0.0.0"/>
    </serviceProviders>
  </marc.hi.ehrs.svc.core>
      <marc.ehrs.visualizationserver.syslog maxMessageSize="65536">
    <listener name="USE CASE A" address="tcp://127.0.0.1:11514">
      <actions>
        <add>MARC.EHRS.VisualizationServer.Actions.NotifyAction, MARC.EHRS.VisualizationServer.Actions, Version=1.0.0.0</add>
        <add>MARC.EHRS.VisualizationServer.Actions.LogAction, MARC.EHRS.VisualizationServer.Actions, Version=1.0.0.0</add>
      </actions>
    </listener>
    <listener name="USE CASE A UDP" address="udp://127.0.0.1:514">
      <actions>
        <add>MARC.EHRS.VisualizationServer.Actions.NotifyAction, MARC.EHRS.VisualizationServer.Actions, Version=1.0.0.0</add>
        <add>MARC.EHRS.VisualizationServer.Actions.LogAction, MARC.EHRS.VisualizationServer.Actions, Version=1.0.0.0</add>
      </actions>
    </listener>
  </marc.ehrs.visualizationserver.syslog>
  <marc.ehrs.visualizationserver.notifier port="4530" enableCAPServer="true" capServerPolicyFile="ClientAccessPolicy.xml"/>
  <marc.hi.ehrs.svc.messaging.multi>
    <handlers>
      <add type="MARC.EHRS.VisualizationServer.Notifier.TcpNotificationServer, MARC.EHRS.VisualizationServer.Notifier, Version=1.0.0.0"/>
      <add type="MARC.EHRS.VisualizationServer.Syslog.SyslogMessageHandler, MARC.EHRS.VisualizationServer.Syslog, Version=1.0.0.0"/>
      <add type="MARC.EHRS.VisualizationServer.KnowledgeBase.KnowledgeBaseListener, MARC.EHRS.VisualizationServer.KnowledgeBase, Version=1.0.0.0"/>
      <add type="MARC.EHRS.VisualizationServer.KnowledgeBase.CapServerListener, MARC.EHRS.VisualizationServer.KnowledgeBase, Version=1.0.0.0"/>

    </handlers>
  </marc.hi.ehrs.svc.messaging.multi>
  <marc.ehrs.visualizationserver.action.file>
    <output file="test.txt"/>
  </marc.ehrs.visualizationserver.action.file>
  <marc.ehrs.visualizationserver.knowledgebase>
    <connectionManager connection="KBDB"/>
    <allow post="true"/>
  </marc.ehrs.visualizationserver.knowledgebase>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
